body {
    background-color: greenyellow;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: oblique;
    font-size: 10px;
}

ul {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    font-style: initial;
    font-size: 100px;
}

